*{
    margin:0;
    padding:0;
}

body {
    background-color:rgb(12, 19, 94);
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.header{
    background-color:black;
    color:whitesmoke;
    height:120px;
    padding-left:20px;
    padding-right:20px
}

.header h2{
    font-size:30px
}

.nav a{
    color:whitesmoke;
    text-decoration:none;
    margin-left:4px;
    margin-right:4px;
}

.hero{
    height: 100vh;
}

.products{
    height:100vh;
    background-color: rgb(15, 9, 74)
    
}

.shop{
    height:50vh;
}

.footer{
    height:20vh;
}

.card{
    width:280px;
    background-color: rgb(15, 9, 74);
    border-radius:4px;
}

.button{
    padding-left:20px;
    padding-right:10px;
}
