body {
    background-color:rgb(12, 19, 94);
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.header{
    background-color:black;
    color:whitesmoke
}

.header h2{
    font-size:30px
}

.nav a{
    color:whitesmoke
}

.hero{
    
}

.products{

}

.shop{

}

.footer{
    
}